.hero {
  position: relative;

  &__wrap {
    @include tab {
      display: flex;
    }
  }
  &__social {
    display: none;

    @include tab {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      padding-bottom: 40px;
      width: 90px;
      margin-right: 30px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;

    transform: rotate(-90deg) translate(47%);
    &::before {
      content: '';
      width: 60px;
      height: 1px;
      background-color: $main-text-color;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.2em;

    color: $main-text-color;

    transition: color $animation-speed-hover $animation-cubic-bezier;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__inner {
    padding-top: 208px;
    padding-bottom: 209px;
    @include tab {
      position: relative;

      padding-top: 272px;
      padding-right: 90px;
      padding-bottom: 237px;
      padding-left: 120px;

      z-index: 0;
    }
  }
  &__caption {
    margin-bottom: 20px;

    color: $caption-text-color;
  }
  &__title {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: $fourth-text-color;
    @media screen and (max-width: 360px) {
      font-size: 40px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;

    color: #9da4bd;
    @include tab {
      font-size: 18px;
      line-height: 1.67;
    }
  }
}
