.caption {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;
  &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: currentColor;
  }
  @media screen and (max-width: 767px) {
    letter-spacing: 0.1em;
  }
}
