.hero {
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 580px;
    z-index: -1;
    @include tab {
      width: 570px;
      height: 680px;
      left: 159px;
    }
  }

  &__bg {
    width: 100%;
    height: 580px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tab {
      height: 680px;
    }
    &--first {
      @include gradient(url(../images/smart/smart_bghero_1@1x-min.jpg));

      @include retina {
        @include gradient(url(../images/smart/smart_bghero_1@2x-min.jpg));
      }
      @include tab {
        @include gradient(url(../images/tab/tab_bghero_1@1x-min.jpg));

        @include retina {
          @include gradient(url(../images/tab/tab_bghero_1@2x-min.jpg));
        }
      }
    }
    &--second {
      @include gradient(url(../images/smart/smart_bghero_2@1x-min.jpg));

      @include retina {
        @include gradient(url(../images/smart/smart_bghero_2@2x-min.jpg));
      }
      @include tab {
        @include gradient(url(../images/tab/tab_bghero_2@1x-min.jpg));

        @include retina {
          @include gradient(url(../images/tab/tab_bghero_2@2x-min.jpg));
        }
      }
    }
    &--third {
      @include gradient(url(../images/smart/smart_bghero_3@1x-min.jpg));

      @include retina {
        @include gradient(url(../images/smart/smart_bghero_3@2x-min.jpg));
      }
      @include tab {
        @include gradient(url(../images/tab/tab_bghero_3@1x-min.jpg));

        @include retina {
          @include gradient(url(../images/tab/tab_bghero_3@2x-min.jpg));
        }
      }
    }
  }
}
