.hero {
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 580px;
    z-index: -1;
    @include smart {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 480px;
    }
    @include tab {
      width: 100%;
      height: 680px;
    }
  }

  &__bg {
    width: 100%;
    height: 580px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tab {
      height: 680px;
    }
    &--first {
      @include gradient(url(../images/smart/smart_bghero_1@1x-min.jpg));

      @include retina {
        @include gradient(url(../images/smart/smart_bghero_1@2x-min.jpg));
      }
      @include tab {
        @include gradient(url(../images/tab/tab_bghero_1@1x-min.jpg));

        @include retina {
          @include gradient(url(../images/tab/tab_bghero_1@2x-min.jpg));
        }
      }
    }
    &--second {
      @include gradient(url(../images/smart/smart_bghero_2@1x-min.jpg));

      @include retina {
        @include gradient(url(../images/smart/smart_bghero_2@2x-min.jpg));
      }
      @include tab {
        @include gradient(url(../images/tab/tab_bghero_2@1x-min.jpg));

        @include retina {
          @include gradient(url(../images/tab/tab_bghero_2@2x-min.jpg));
        }
      }
    }
    &--third {
      @include gradient(url(../images/smart/smart_bghero_3@1x-min.jpg));

      @include retina {
        @include gradient(url(../images/smart/smart_bghero_3@2x-min.jpg));
      }
      @include tab {
        @include gradient(url(../images/tab/tab_bghero_3@1x-min.jpg));

        @include retina {
          @include gradient(url(../images/tab/tab_bghero_3@2x-min.jpg));
        }
      }
    }
  }
}

.slick-dots {
  top: 50%;
  right: 20px;
  bottom: unset;

  display: flex;
  flex-direction: column;
  gap: 12px;

  transform: translateY(-50%);

  width: 18px;

  z-index: 1;

  li {
    width: unset;
    height: unset;
    margin: 0;
  }

  li button {
    width: 8px;
    height: 2px;
  }

  li button::before {
    content: '';
    width: 8px;
    height: 2px;
    background-color: #9da4bd;
    opacity: 1;
  }
  li.slick-active button::before {
    content: '';
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    opacity: 1;
  }
}
