$main-text-color: #303030;
$secondary-text-color: #9da4bd;
$third-text-color: #555555;

$caption-text-color: rgba(157, 164, 189, 0.6);
$title-color: #ffffff;

$accent-color: #ff6c00;

$animation-speed-modal: 500ms;
$animation-speed-hover: 250ms;
$animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
